<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<div>
		<ul class="nav nav-tabs">
  			<li class="nav-item">
    			<a class="nav-link active" th:href="@{/article?lang=en}" th:text="#{lsthome}"></a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" th:href="@{/article?lang=en}" th:text="#{lstarticle}"></a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" th:href="@{/article?lang=en}" th:text="#{lstcategory}"></a>
  			</li>
  			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/article?lang=en}" th:text="#{lstsetting}" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    			<div class="dropdown-menu">
      				<a class="dropdown-item" th:href="@{/article?lang=en}" th:text="#{english}"></a>
      				<a class="dropdown-item" th:text="#{khmer}" th:href="@{/article?lang=kh}"></a>
    			</div>
  			</li>
		</ul>
	</div>
	<div layout:fragment="contain">
	</div>
	<div>
	
	
	</div>
</body>
</html>