*{
	margin:0;
	padding:0;	
}
.clear{
	clear:both;
}
body{
	background-color: teal;
	font-size:12pt;
	font-weight:bold;
}
.container{
	width:85%;
	height:80%;
	margin:auto;
}
.flexleft{
	width:50%;
	height:500px;
	float:left;
}
img{
	width:500px;
	height:400px;
	margin:auto;
}
.flexright{
	float:right;
	widht:45%;
	display:flex;
	flex-flow:wrap row;
}
.right1{
	width:90%;
}
.h1{
	margin:2%;
	font-size:14pt;
	text-align:center;
}
ul{
	display: inline-block;
	height:100%;
}
ul > li{
	display: inline;
	height:100%;
	margin:10px;
	font-weight: bold;
	font-size:12pt;
}
ul ,li ,a{
	background-color: white;
	color: bllue;
}
.header{
	width:100%;
	height:10%;
	background-color: gray;
	color:blue;
}
.header h1:first-child{
	float:left;
	width:45%;
	margin-left:5%;
	font-size: 12pt;
}
.header h1 a{
	text-decoration: none;
	font-style: italic;	
}
.header h1 a:hover{
	text-decoration: underline;
	font-style:oblique;	
	color:red;
}
.header h1 a:visited{
	text-decoration: none;
	font-style: italic;
	color:blue;	
}
table{
	background-color: lightblue;
	width:100%;
	border:2px solid blue;
	padding: 2px;
	margin:auto;
}
th, td{
	font-weight: bold;
	text-align: center;
	border:2px solid blue;
}
th{
	color:gold;
	background-color: green;
	height:auto;
	font-size:16pt;
}
td{
	color:Green;
	height:auto;
	font-size:12pt;
}
table,th,tr,td{
	border-collapse: collapse;
}
button{
	font-weight: bold;
	font-size:14pt;
	width:130px;
	height:50px;
	background-color: Teal;
	color:white;
	padding:10px;
	margin-left:15px;
}
form{
	background-color: white;
}
legend{
	text-align: center;
}
label{
	font-weight: bold;
	font-size: 12pt;
	text-decoration: underline;
	margin-left:15px;
}
input[type="text"]{
	margin:5px;
	width:300px;
	height:35px;
	border:2px solid #80ff00;
	border-radius: 15px;
	font-size: 12pt;
	font-style: italic;
	font-family: sans-serif;
	text-align: center;
}
input[type="submit"]{
	margin:10px;
	width:200px;
	height:50px;
	border:2px solid lightblue;
	border-radius:15px;
	font-weight: bold;
	font-size: 12pt;
}
