<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="#{addnew}"></title>
<link rel="stylesheet" href="/css/css.css"/>
</head>
<body>
	<div>
		<ul class="nav nav-tabs">
  			<li class="nav-item">
    			<a class="nav-link active" th:href="@{/article?lang=en}" th:text="#{lsthome}"></a>
  			</li>
  			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/article?lang=en}" th:text="#{lstarticle}" role="button" aria-haspopup="true" aria-expanded="false"></a>
  				<div class="dropdown-menu">
      				<a class="dropdown-item" th:href="@{/add}" th:text="#{addnew}"></a>
    			</div>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" th:href="@{/article?lang=en}" th:text="#{lstcategory}"></a>
  			</li>
  			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/article?lang=en}" th:text="#{lstsetting}" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    			<div class="dropdown-menu">
      				<a class="dropdown-item" th:href="@{/article?lang=en}" th:text="#{english}"></a>
      				<a class="dropdown-item" th:text="#{khmer}" th:href="@{/article?lang=kh}"></a>
    			</div>
  			</li>
		</ul>
	</div>
	<h1 th:text="#{addnew}"></h1>
	<form action="/add" method="post" enctype="multipart/form-data">
		<fieldset>
			<legend th:text="#{articlelegend}"></legend>
			<input type="hidden" th:field="${article.art_id}"/>
			<label th:text="#{title}"></label><br/>
			<input type="text" th:field="${article.art_title}" placeholder="...fill title here..."/><br/>
			<label th:text="#{category}"></label>
			<select th:field="${article.category.cateid}" >
				<option th:each="cate: ${categories}" th:object="${cate}" th:value="*{cateid}" th:text="*{catename}"></option>
			</select><br/>
			<label th:text="#{description}"></label><br/>
			<input type="text" th:field="${article.art_desc}" placeholder="...fill description here..."/><br/>
			<label th:text="#{authority}"></label><br/>
			<input type="text" th:field="${article.art_author}" placeholder="...fill author here..."/><br/><br/>
			<label th:text="#{photo}"></label><br/>
			<input type="file"  name="aa" accept="image/*"/><br/><br/>
			<input type="submit" th:value="#{addnew}" />
		</fieldset>
	</form>
	<a href="/article" th:text="#{back}"></a>
</body>
</html>