<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
 layout:decorator="/layout/mainlayout">
<head>
<meta charset="UTF-8"/>
<title></title>
<link rel="stylesheet" href="/css/css.css"/>
</head>
<body>
	<div>
		<ul class="nav nav-tabs">
  			<li class="nav-item">
    			<a class="nav-link active" th:href="@{/article?lang=en}" th:text="#{lsthome}"></a>
  			</li>
  			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/article?lang=en}" th:text="#{lstarticle}" role="button" aria-haspopup="true" aria-expanded="false"></a>
  				<div class="dropdown-menu">
      				<a class="dropdown-item" th:href="@{/add}" th:text="#{addnew}"></a>
    			</div>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" th:href="@{/category?lang=en}" th:text="#{lstcategory}"></a>
  			</li>
  			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/article?lang=en}" th:text="#{lstsetting}" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    			<div class="dropdown-menu">
      				<a class="dropdown-item" th:href="@{/article?lang=en}" th:text="#{english}"></a>
      				<a class="dropdown-item" th:text="#{khmer}" th:href="@{/article?lang=kh}"></a>
    			</div>
  			</li>
		</ul>
	</div>
	<div class="clear"></div>
	<table>
		<tr>
			<th th:text="#{id}"></th>
			<th th:text="#{title}"></th>
			<th th:text="#{category}"></th>
			<th th:text="#{description}"></th>
			<th th:text="#{authority}"></th>
			<th th:text="#{photo}"></th>
			<th th:text="#{releasdate}"></th>
			<th th:text="#{option}"></th>
		</tr>
		<tr th:each="article: ${articles}" th:object="${article}">
			<td th:text="*{art_id}"></td>
			<td th:text="*{art_title}"></td>
			<td th:text="*{category.catename}"></td>
			<td th:text="*{art_desc}"></td>
			<td th:text="*{art_author}"></td>
			<td th:text="*{art_date}"></td>
			<td><img style="width:150px;height:150px;" th:src="*{art_img}"/></td>
			<td>
				|| <a th:href="@{/article/{id}(id=*{art_id})}" th:text="#{display}"></a> || 
				<a th:href="@{/add}" th:text="#{addnew}"></a> || 
				<a th:href="@{/edit/{id}(id=*{art_id})}" th:text="#{edit}"></a> || 
				<a th:href="@{/delete/{id}(id=*{art_id})}" th:text="#{delete}"></a> ||
			</td>
		</tr>
	</table>
</body>
</html>