<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
 layout:decorator="/layout/mainlayout">
<head>
<meta charset="UTF-8"/>
<title></title>
<link rel="stylesheet" href="/css/css.css"/>
</head>
<body>
	<div>
		<ul class="nav nav-tabs">
  			<li class="nav-item">
    			<a class="nav-link active" th:href="@{/article?lang=en}" th:text="#{lsthome}"></a>
  			</li>
  			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/article?lang=en}" th:text="#{lstarticle}" role="button" aria-haspopup="true" aria-expanded="false"></a>
  				<div class="dropdown-menu">
      				<a class="dropdown-item" th:href="@{/add}" th:text="#{addnew}"></a>
    			</div>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" th:href="@{/category?lang=en}" th:text="#{lstcategory}"></a>
  			</li>
  			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/category?lang=en}" th:text="#{lstsetting}" role="button" aria-haspopup="true" aria-expanded="false"></a>
    			<div class="dropdown-menu">
      				<a class="dropdown-item" th:href="@{/category?lang=en}" th:text="#{english}"></a>
      				<a class="dropdown-item" th:text="#{khmer}" th:href="@{/category?lang=kh}"></a>
    			</div>
  			</li>
		</ul>
	</div>
	<div class="clear"></div>
	<table>
		<tr>
			<th th:text="#{id}"></th>
			<th th:text="#{category}"></th>
			<th th:text="#{description}"></th>
		</tr>
		<tr th:each="category: ${categories}" th:object="${category}">
			<td th:text="*{cateid}"></td>
			<td th:text="*{catename}"></td>
			<td th:text="*{catedesc}"></td>
		</tr>
	</table>
</body>
</html>