<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title></title>
<link rel="stylesheet" href="/css/css.css"/>
</head>
<body>
	<div>
		<ul class="nav nav-tabs">
  			<li class="nav-item">
    			<a class="nav-link active" th:href="@{/article?lang=en}" th:text="#{lsthome}"></a>
  			</li>
  			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/article?lang=en}" th:text="#{lstarticle}" role="button" aria-haspopup="true" aria-expanded="false"></a>
  				<div class="dropdown-menu">
      				<a class="dropdown-item" th:href="@{/add}" th:text="#{addnew}"></a>
    			</div>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" th:href="@{/article?lang=en}" th:text="#{lstcategory}"></a>
  			</li>
  			<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/article?lang=en}" th:text="#{lstsetting}" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    			<div class="dropdown-menu">
      				<a class="dropdown-item" th:href="@{/article?lang=en}" th:text="#{english}"></a>
      				<a class="dropdown-item" th:text="#{khmer}" th:href="@{/article?lang=kh}"></a>
    			</div>
  			</li>
		</ul>
	</div>
	<div class="container">
			<div class="flexleft">
				<img th:src="${article.art_img}"/>
			</div>
			<div class="flexright">
				<div class="right1">
					<h4 class="h1">Title</h4>
					<p th:text="${article.art_title}"><b><i></i></b></p>
				</div>
				<div class="right1">
					<h4 class="h1">Category</h4>
					<p th:text="${article.category.catename}"><b><i></i></b></p>
				</div>
				<div class="right1">
					<h4 class="h1">Description</h4>
					<p th:text="${article.art_desc}"><b><i></i></b></p>
				</div>
				<div class="right1">
					<h4 class="h1">Authority</h4>
					<p th:text="${article.art_author}"><b><i></i></b></p>
				</div>
				<div class="right1">
					<h4 class="h1">Released Date</h4>
					<p th:text="${article.art_date}"><b><i></i></b></p>
				</div>
			</div>
		</div>
</body>
</html>